.modal {
  z-index: 50;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.5);
}

.modal--visible {
  display: flex;
}

.modal__header {

}

.modal__content {
  background-color: #fff;
  padding: 20px;
}
