.modal {
  z-index: 50;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
}

.modal--visible {
  visibility: visible;
  opacity: 1;

  .modal__content {
    transform: scale(1);
    opacity: 1;
    transition: all .3s;
  }
}

.modal__content {
  background-color: #fff;
  padding: 20px;
  transform: scale(0.7);
  opacity: 0;
}
