$sidebar-width: 300px;
$sidebar-background-color: #292929;
$sidebar-close-anchor-width: 16px;

.sidebar {
  width: $sidebar-width;
  display: flex;
  position: relative;
  margin-left: $sidebar-close-anchor-width + 2;
  margin-right: -($sidebar-width - $sidebar-close-anchor-width - 2);
  transition: all .2s;

  &--visible {
    margin-right: 0;
  }
}

.sidebar__close-anchor {
  width: $sidebar-close-anchor-width;
  background-color: $sidebar-background-color;
  position: absolute;
  top: 0;
  bottom: 0;
}

.sidebar__content {
  width: $sidebar-width - $sidebar-close-anchor-width - 2;
  margin-left: $sidebar-close-anchor-width + 2;
  //height: 50px;
  background-color: $sidebar-background-color;
}
